<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds" debug="false">
    <!-- <property file="logback.properties" /> -->

    <contextName>SToys TEST</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{148}:%line - %message%n</pattern>
        </encoder>
    </appender>

    <!--    <logger name="io.stoys" level="DEBUG" /> -->
    <logger name="breeze.optimize" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.apache.parquet" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.spark_project" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
